@import './variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', 'Roboto', Arial, sans-serif;
  background: $pistachio-light;
  min-height: 100vh;
  color: $text-dark;
}